In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from matplotlib.image import imread
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from lightgbm import LGBMRegressor
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
df = pd.read_csv('energydata_complete.csv')
df

                      date  Appliances  lights         T1       RH_1         T2       RH_2         T3       RH_3         T4       RH_4         T5       RH_5         T6       RH_6         T7       RH_7       T8       RH_8         T9     RH_9      T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  19.890000  47.596667  19.200000  44.790000  19.790000  44.730000  19.000000  45.566667  17.166667  55.200000   7.026667  84.256667  17.200000  41.626667  18.2000  48.900000  17.033333  45.5300   6.600000        733.5  92.000000   7.000000   63.000000   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  19.890000  46.693333  19.200000  44.722500  19.790000  44.790000  19.000000  45.992500  17.166667  55.200000   6.833333  84.063333  17.200000  41.560000  18.2000  48.863333  17.066667  45.5600   6.483333        733.6  92.000000   6.666667   59.166667   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  19.890000  46.300000  19.200000  44.626667  19.790000  44.933333  18.926667  45.890000  17.166667  55.090000   6.560000  83.156667  17.200000  41.433333  18.2000  48.730000  17.000000  45.5000   6.366667        733.7  92.000000   6.333333   55.333333   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  19.890000  46.066667  19.200000  44.590000  19.790000  45.000000  18.890000  45.723333  17.166667  55.090000   6.433333  83.423333  17.133333  41.290000  18.1000  48.590000  17.000000  45.4000   6.250000        733.8  92.000000   6.000000   51.500000   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  19.890000  46.333333  19.200000  44.530000  19.790000  45.000000  18.890000  45.530000  17.200000  55.090000   6.366667  84.893333  17.200000  41.230000  18.1000  48.590000  17.000000  45.4000   6.133333        733.9  92.000000   5.666667   47.666667   4.900000  10.084097  10.084097
...                    ...         ...     ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...        ...      ...        ...        ...      ...        ...          ...        ...        ...         ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  25.566667  46.560000  25.890000  42.025714  27.200000  41.163333  24.700000  45.590000  23.200000  52.400000  24.796667   1.000000  24.500000  44.500000  24.7000  50.074000  23.200000  46.7900  22.733333        755.2  55.666667   3.333333   23.666667  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  25.500000  46.500000  25.754000  42.080000  27.133333  41.223333  24.700000  45.590000  23.230000  52.326667  24.196667   1.000000  24.557143  44.414286  24.7000  49.790000  23.200000  46.7900  22.600000        755.2  56.000000   3.500000   24.500000  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  25.500000  46.596667  25.628571  42.768571  27.050000  41.690000  24.700000  45.730000  23.230000  52.266667  23.626667   1.000000  24.540000  44.400000  24.7000  49.660000  23.200000  46.7900  22.466667        755.2  56.333333   3.666667   25.333333  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  25.500000  46.990000  25.414000  43.036000  26.890000  41.290000  24.700000  45.790000  23.200000  52.200000  22.433333   1.000000  24.500000  44.295714  24.6625  49.518750  23.200000  46.8175  22.333333        755.2  56.666667   3.833333   26.166667  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  25.500000  46.600000  25.264286  42.971429  26.823333  41.156667  24.700000  45.963333  23.200000  52.200000  21.026667   1.000000  24.500000  44.054000  24.7360  49.736000  23.200000  46.8450  22.200000        755.2  57.000000   4.000000   27.000000  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [11]:
df.head()

                  date  Appliances  lights     T1       RH_1    T2       RH_2     T3       RH_3         T4       RH_4         T5   RH_5        T6       RH_6         T7       RH_7    T8       RH_8         T9   RH_9     T_out  Press_mm_hg  RH_out  Windspeed  Visibility  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  19.89  47.596667  19.2  44.790000  19.79  44.730000  19.000000  45.566667  17.166667  55.20  7.026667  84.256667  17.200000  41.626667  18.2  48.900000  17.033333  45.53  6.600000        733.5    92.0   7.000000   63.000000        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  19.89  46.693333  19.2  44.722500  19.79  44.790000  19.000000  45.992500  17.166667  55.20  6.833333  84.063333  17.200000  41.560000  18.2  48.863333  17.066667  45.56  6.483333        733.6    92.0   6.666667   59.166667        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  19.89  46.300000  19.2  44.626667  19.79  44.933333  18.926667  45.890000  17.166667  55.09  6.560000  83.156667  17.200000  41.433333  18.2  48.730000  17.000000  45.50  6.366667        733.7    92.0   6.333333   55.333333        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  19.89  46.066667  19.2  44.590000  19.79  45.000000  18.890000  45.723333  17.166667  55.09  6.433333  83.423333  17.133333  41.290000  18.1  48.590000  17.000000  45.40  6.250000        733.8    92.0   6.000000   51.500000        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  19.89  46.333333  19.2  44.530000  19.79  45.000000  18.890000  45.530000  17.200000  55.09  6.366667  84.893333  17.200000  41.230000  18.1  48.590000  17.000000  45.40  6.133333        733.9    92.0   5.666667   47.666667        4.9  10.084097  10.084097

In [12]:


# Extract the columns corresponding to T2 and T6
X = df[['T2']]  # Independent variable (Living room temperature)
y = df['T6']    # Dependent variable (Outside temperature)

# Split the dataset into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:", round(rmse, 3))

Root Mean Squared Error: 3.633

In [15]:
# Remove columns "date" and "lights"
data = df.drop(columns=['date', 'lights'], inplace=True)

# Define the target variable
target = 'Appliances'

# Split the dataset into features (X) and target (y)
X = df.drop(columns=[target])
y = df[target]

# Split the dataset into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Fit a multiple linear regression model using the training set
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions on the training set
y_train_pred = model.predict(X_train_scaled)

# Calculate the Mean Absolute Error (MAE) for the training set
mae_train = mean_absolute_error(y_train, y_train_pred)
print("Mean Absolute Error for the training set:", round(mae_train, 3))

Mean Absolute Error for the training set: 53.742

In [17]:
# Make predictions on the training data
y_pred_train = model.predict(X_train)

# Calculate RMSE for the training set
rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))

# Print RMSE for the training set
print(f"Root Mean Squared Error (Training): {rmse_train:.3f}")

Root Mean Squared Error (Training): 2067.067

c:\Users\admin\anaconda3\Lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [19]:
# Make predictions on the test set
y_test_pred = model.predict(X_test_scaled)

# Calculate the Mean Absolute Error (MAE) for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)
print("Mean Absolute Error for the test set:", round(mae_test, 3))

Mean Absolute Error for the test set: 53.643

In [20]:
# Make predictions on the test set
y_test_pred = model.predict(X_test_scaled)

# Calculate the Root Mean Squared Error (RMSE) for the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
print("Root Mean Squared Error for the test set:", round(rmse_test, 3))

Root Mean Squared Error for the test set: 93.64